In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
from sklearn.preprocessing import StandardScaler
from math import ceil
from itertools import cycle
from itertools import product
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
from sklearn.model_selection import train_test_split
# used to provide a value to data that can be then used in equations, eg. Friday = 1 etc.
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import style
style.use('ggplot')
from googletrans import Translator

from xgboost import XGBRegressor
from xgboost import plot_importance

import time
import sys
import gc
import pickle

In [2]:
def plot_features(booster, figsize):    
    fig, ax = plt.subplots(1,1,figsize=figsize)
    return plot_importance(booster=booster, ax=ax)

In [77]:
#Read in .csv files into pandas dataframes
train       = pd.read_csv('sales_train.csv')
test        = pd.read_csv('test.csv').set_index('ID')
submission  = pd.read_csv('sample_submission.csv')
items       = pd.read_csv('items.csv')
item_cats   = pd.read_csv('item_categories.csv')
shops       = pd.read_csv('shops.csv')
shops_t     = pd.read_csv('shops_translated.csv')
items_t     = pd.read_csv('items_translated_text.csv')

In [78]:
#Down casts the data entries from int64 to int32 and float64 to float32
#This reduces the size of the records by almost half. (From 134mb to 61mb)
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols = [c for c in df if df[c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

In [79]:
#Calls the downcasting function
train      = downcast_dtypes(train)
test       = downcast_dtypes(test)
submission = downcast_dtypes(submission)
items      = downcast_dtypes(items)
items_t    = downcast_dtypes(items_t)
item_cats  = downcast_dtypes(item_cats)
shops      = downcast_dtypes(shops)
shops_t    = downcast_dtypes(shops_t)

In [80]:
#Adds item_category_id to train dataframe and drops the item_name column
#Formats the date from string to datetime object
train = train.merge(items, on='item_id')
train = train.drop(columns = 'item_name')
train['date'] = pd.to_datetime(train['date'], format='%d.%m.%Y')

In [81]:
#Removes outlier price items from train dataframe
train = train[train.item_price < 90000]
train = train[train.item_cnt_day < 999]

#replaces the one instance of a negative price item 
#with the median item_price of the item with the id of 2973 and in shop id 32
median = train[(train.shop_id==32)
               &(train.item_id==2973)
               &(train.date_block_num==4)
               &(train.item_price>0)].item_price.median()

In [82]:
#Moves item_cnt_day column to the last column
train_cnt = train['item_cnt_day']
train.drop(labels=['item_cnt_day'], axis=1, inplace = True)
train.insert(6, 'item_cnt_day', train_cnt)

In [83]:
#Sums the item_cnt_day by date_block_month
#Drops the date column
#resets the index to start at 0 again
train_grouped_month = pd.DataFrame(train.groupby(['date_block_num', 'shop_id', 
                                                  'item_category_id', 'item_id',
                                                  'item_price'])['item_cnt_day'].sum().reset_index())

In [84]:
#renames item_cnt_day to item_cnt_month
train_grouped_month.rename(columns = {'item_cnt_day':'item_cnt_month'}, inplace = True)

In [85]:
train_grouped_month

,date_block_num,shop_id,item_category_id,item_id,item_price,item_cnt_month
0,0,0,2,5572,1322.0,10.0
1,0,0,2,5573,560.0,1.0
2,0,0,2,5575,806.0,4.0
3,0,0,2,5576,2231.0,5.0
4,0,0,2,5609,2381.0,1.0
...,...,...,...,...,...,...
1739014,33,59,79,17717,1250.0,4.0
1739015,33,59,79,17717,1999.0,1.0
1739016,33,59,83,22087,119.0,6.0
1739017,33,59,83,22088,119.0,2.0
1739018,33,59,83,22091,179.0,1.0

In [70]:
#Converts all categorical features into strings because
#nominal intergers can not be converted to binary encoding
train_grouped_month_encoded = train_grouped_month.copy(deep=True)
train_grouped_month_encoded['date_block_num']   = [('month ' + str(i)) for i in train_grouped_month_encoded['date_block_num']]
train_grouped_month_encoded['shop_id']          = [('shop ' + str(i)) for i in train_grouped_month_encoded['shop_id']]
train_grouped_month_encoded['item_category_id'] = [('item_category ' + str(i)) for i in train_grouped_month_encoded['item_category_id']]
train_grouped_month_encoded['item_id']          = [('item ' + str(i)) for i in train_grouped_month_encoded['item_id']]

In [71]:
train_grouped_month_encoded

,date_block_num,shop_id,item_category_id,item_id,item_price,item_cnt_month
0,month 0,shop 0,item_category 2,item 5572,1322.0,10.0
1,month 0,shop 0,item_category 2,item 5573,560.0,1.0
2,month 0,shop 0,item_category 2,item 5575,806.0,4.0
3,month 0,shop 0,item_category 2,item 5576,2231.0,5.0
4,month 0,shop 0,item_category 2,item 5609,2381.0,1.0
...,...,...,...,...,...,...
1739014,month 33,shop 59,item_category 79,item 17717,1250.0,4.0
1739015,month 33,shop 59,item_category 79,item 17717,1999.0,1.0
1739016,month 33,shop 59,item_category 83,item 22087,119.0,6.0
1739017,month 33,shop 59,item_category 83,item 22088,119.0,2.0
1739018,month 33,shop 59,item_category 83,item 22091,179.0,1.0

In [72]:
train_grouped_month

,date_block_num,shop_id,item_category_id,item_id,item_price,item_cnt_month
0,0,0,2,5572,1322.0,10.0
1,0,0,2,5573,560.0,1.0
2,0,0,2,5575,806.0,4.0
3,0,0,2,5576,2231.0,5.0
4,0,0,2,5609,2381.0,1.0
...,...,...,...,...,...,...
1739014,33,59,79,17717,1250.0,4.0
1739015,33,59,79,17717,1999.0,1.0
1739016,33,59,83,22087,119.0,6.0
1739017,33,59,83,22088,119.0,2.0
1739018,33,59,83,22091,179.0,1.0

In [73]:
train_grouped_month.to_csv('grouped_train_not_encoded.csv')

In [91]:
one_shop = train_grouped_month[train_grouped_month['shop_id'] == 0]

In [94]:
one_shop

,date_block_num,shop_id,item_category_id,item_id,item_price,item_cnt_month
0,0,0,2,5572,1322.0,10.0
1,0,0,2,5573,560.0,1.0
2,0,0,2,5575,806.0,4.0
3,0,0,2,5576,2231.0,5.0
4,0,0,2,5609,2381.0,1.0
...,...,...,...,...,...,...
69567,1,0,82,13357,21.0,1.0
69568,1,0,83,22087,44.0,19.0
69569,1,0,83,22088,44.0,18.0
69570,1,0,83,22091,63.0,1.0
69571,1,0,83,22092,64.0,15.0

In [111]:
valid_items = one_shop.item_id.unique()

In [112]:
valid_shops = train_grouped_month.shop_id.unique()

In [99]:
valid_items = list(valid_items)

In [100]:
valid_items

[5572,
 5573,
 5575,
 5576,
 5609,
 5612,
 5623,
 5627,
 5629,
 5630,
 5632,
 5635,
 5641,
 5643,
 13510,
 13517,
 13071,
 1956,
 1958,
 5680,
 13101,
 13102,
 5578,
 5580,
 5581,
 5583,
 5587,
 5588,
 5591,
 5592,
 5594,
 5601,
 5605,
 7882,
 7890,
 7892,
 7893,
 7894,
 7895,
 7907,
 7954,
 7956,
 11305,
 6672,
 13435,
 13478,
 13480,
 13482,
 13484,
 13487,
 13490,
 6668,
 6665,
 13425,
 13430,
 13431,
 4861,
 7905,
 13393,
 1409,
 1471,
 1595,
 1790,
 1836,
 1870,
 1985,
 2253,
 2281,
 2303,
 2307,
 2437,
 2649,
 2680,
 2682,
 2704,
 2715,
 2748,
 2760,
 2835,
 2846,
 2973,
 3045,
 3056,
 3076,
 3187,
 3253,
 3316,
 3320,
 3321,
 3366,
 3428,
 3433,
 3541,
 3686,
 3705,
 3850,
 3851,
 3852,
 3869,
 3877,
 4227,
 4229,
 4266,
 4281,
 4372,
 4464,
 4474,
 4476,
 4482,
 4486,
 4532,
 4792,
 4807,
 4810,
 4814,
 4815,
 4886,
 4887,
 4906,
 4960,
 5033,
 5256,
 5261,
 5273,
 5283,
 5918,
 5992,
 6072,
 6077,
 6122,
 6143,
 6154,
 6326,
 6402,
 6452,
 6612,
 6659,
 6681,
 6700,
 6725,
 6727,
 6745,
 6778,
 6910,
 6916,
 7078,
 7169,
 7218,
 7221,
 7734,
 8041,
 10579,
 11389,
 11391,
 11393,
 11829,
 12113,
 13413,
 13450,
 13511,
 14939,
 17696,
 17707,
 17710,
 19362,
 19516,
 21771,
 1523,
 1782,
 1889,
 1894,
 2727,
 2920,
 2934,
 2939,
 2953,
 2956,
 3327,
 3693,
 3698,
 3702,
 3743,
 4036,
 4475,
 4485,
 4910,
 5197,
 5198,
 5735,
 6144,
 6660,
 6661,
 6704,
 6708,
 6724,
 6911,
 6919,
 7137,
 7867,
 7875,
 13453,
 13460,
 13735,
 13736,
 17706,
 19929,
 20948,
 1463,
 1481,
 2304,
 3065,
 3326,
 3747,
 4330,
 4371,
 4376,
 4481,
 4832,
 4901,
 5275,
 5292,
 6095,
 6142,
 6451,
 6651,
 6722,
 6752,
 7220,
 11388,
 11828,
 20149,
 1410,
 1472,
 1520,
 1592,
 1791,
 1833,
 1837,
 2302,
 2309,
 2350,
 2441,
 2650,
 2678,
 2705,
 2761,
 2836,
 2847,
 2974,
 3077,
 3318,
 3323,
 3328,
 3367,
 3394,
 3429,
 3476,
 3542,
 3554,
 3676,
 3834,
 3836,
 3871,
 3878,
 4240,
 4241,
 4244,
 4248,
 4249,
 4267,
 4373,
 4724,
 4781,
 4793,
 4811,
 4885,
 4907,
 5030,
 5032,
 5034,
 5262,
 5274,
 5363,
 6123,
 6125,
 6425,
 6613,
 6779,
 6909,
 6917,
 7171,
 7913,
 10563,
 17697,
 19992,
 6574,
 6576,
 6578,
 6579,
 6581,
 6586,
 6590,
 6592,
 6593,
 6597,
 6598,
 6600,
 6604,
 6605,
 6606,
 6607,
 6608,
 6609,
 1475,
 1829,
 1835,
 1992,
 2258,
 2319,
 2321,
 2718,
 2844,
 3427,
 3876,
 4252,
 6467,
 6475,
 6478,
 6480,
 6481,
 6482,
 6483,
 6484,
 6485,
 6488,
 6490,
 6491,
 6492,
 6493,
 6495,
 6953,
 7065,
 7066,
 7738,
 7856,
 7860,
 13417,
 13418,
 13419,
 14159,
 15061,
 17721,
 1524,
 3437,
 3873,
 6611,
 7770,
 7859,
 963,
 1243,
 1418,
 1420,
 1423,
 1438,
 1470,
 1482,
 1528,
 1800,
 1830,
 1871,
 1903,
 1905,
 1909,
 1911,
 1912,
 1913,
 1916,
 1917,
 1918,
 1920,
 1921,
 1987,
 2252,
 2308,
 2415,
 2416,
 2439,
 2703,
 2731,
 2746,
 2808,
 2822,
 2827,
 2833,
 2848,
 2854,
 2929,
 2931,
 2972,
 3062,
 3186,
 3193,
 3198,
 3200,
 3201,
 3202,
 3204,
 3205,
 3206,
 3210,
 3214,
 3223,
 3322,
 3325,
 3360,
 3391,
 3402,
 3417,
 3432,
 3467,
 3468,
 3470,
 3533,
 3540,
 3562,
 3679,
 3718,
 3719,
 3748,
 3870,
 3890,
 3941,
 3947,
 4251,
 4332,
 4366,
 4370,
 4462,
 4723,
 4779,
 4790,
 4800,
 4809,
 5224,
 5228,
 5260,
 5272,
 5361,
 5406,
 5811,
 5848,
 5851,
 5892,
 5916,
 5922,
 5994,
 6131,
 6185,
 6397,
 6406,
 6412,
 6466,
 6468,
 6479,
 6508,
 6635,
 6657,
 6717,
 6735,
 6736,
 6740,
 6765,
 6777,
 6904,
 7064,
 7081,
 7118,
 7175,
 7737,
 7825,
 7831,
 7850,
 7854,
 7857,
 7869,
 7912,
 8004,
 9181,
 9182,
 9183,
 9184,
 10193,
 10242,
 10269,
 10270,
 10575,
 11304,
 11821,
 11831,
 12111,
 12112,
 12134,
 12135,
 12141,
 13141,
 13145,
 13146,
 13148,
 13154,
 13155,
 13157,
 13158,
 13537,
 13569,
 13733,
 14158,
 14196,
 14206,
 14230,
 14231,
 15005,
 15008,
 15010,
 15012,
 15013,
 15014,
 15016,
 15024,
 15039,
 15060,
 15070,
 16333,
 16381,
 16385,
 16390,
 17588,
 19275,
 19365,
 19390,
 19413,
 19942,
 19990,
 19993,
 20325,
 20329,
 20946,
 21490,
 21491,
 21494,
 21495,
 21497,
 21498,
 21768,
 21780,
 21782,
 21987,
 21996,
 7977,
 7979,
 5820,
 5821,
 5822,
 5823,
 33,
 944,
 952,
 965,
 1112,
 8070,
 8094,
 8104,
 8107,
 8232,
 8266,
 8330,
 8377,
 8419,
 8575,
 8714,
 8765,
 8777,
 8845,
 8849,
 8894,
 8958,
 8963,
 8992,
 8994,
 9007,
 9044,
 9696,
 9704,
 9801,
 9834,
 9844,
 9909,
 9912,
 9914,
 9936,
 9962,
 9976,
 10039,
 10064,
 10081,
 10107,
 10110,
 10172,
 10178,
 10308,
 10421,
 10451,
 10492,
 10510,
 10765,
 10800,
 10801,
 10855,
 10865,
 10974,
 11160,
 11166,
 11250,
 11516,
 11622,
 11623,
 11626,
 11645,
 11679,
 11744,
 11748,
 11791,
 11898,
 11911,
 11918,
 11992,
 12069,
 12071,
 12320,
 12390,
 12440,
 12459,
 12569,
 12623,
 12678,
 12737,
 12806,
 12808,
 12866,
 12876,
 12982,
 13850,
 13872,
 13937,
 13945,
 13951,
 13974,
 14063,
 14080,
 14118,
 14136,
 14137,
 14140,
 14264,
 14416,
 14504,
 14549,
 14610,
 14773,
 14783,
 14799,
 14804,
 14911,
 15530,
 15541,
 15558,
 15582,
 15675,
 15698,
 15702,
 15769,
 16430,
 16451,
 16473,
 16486,
 16515,
 16577,
 16588,
 16595,
 16620,
 16626,
 16646,
 16665,
 16725,
 16857,
 16860,
 16874,
 16920,
 16931,
 16968,
 16971,
 16978,
 16987,
 17051,
 17090,
 17102,
 17155,
 17163,
 17173,
 17242,
 17284,
 17323,
 17473,
 17477,
 17491,
 17534,
 17561,
 17799,
 17832,
 17838,
 17934,
 17946,
 17999,
 18151,
 18528,
 18580,
 18656,
 18783,
 18943,
 18970,
 18977,
 19017,
 19059,
 19064,
 19119,
 19123,
 19626,
 19634,
 19653,
 19804,
 19831,
 19905,
 20028,
 20069,
 20096,
 20212,
 20230,
 20315,
 21347,
 21356,
 21359,
 21392,
 21426,
 21432,
 21448,
 21452,
 21455,
 21462,
 21549,
 21616,
 21655,
 21688,
 21697,
 21711,
 21759,
 21856,
 21861,
 21872,
 22015,
 22016,
 22039,
 22135,
 22140,
 8093,
 8155,
 8158,
 9482,
 10757,
 11031,
 11083,
 11613,
 12065,
 12360,
 12738,
 12765,
 12803,
 12829,
 13006,
 13820,
 13852,
 13973,
 14262,
 14263,
 14805,
 15823,
 16891,
 17062,
 17318,
 17396,
 17533,
 17914,
 18928,
 19674,
 19778,
 19863,
 19914,
 20049,
 20211,
 20229,
 21572,
 32,
 35,
 43,
 75,
 88,
 95,
 96,
 98,
 947,
 987,
 1109,
 2462,
 3112,
 3582,
 3603,
 4328,
 5522,
 5527,
 5534,
 6267,
 7682,
 7683,
 7687,
 7688,
 7690,
 7693,
 7697,
 7700,
 7701,
 7708,
 7711,
 8068,
 8090,
 8092,
 8097,
 8131,
 8144,
 8147,
 8151,
 8156,
 8195,
 8235,
 8248,
 8259,
 8264,
 8289,
 8290,
 8303,
 8313,
 8317,
 8328,
 8333,
 8341,
 8403,
 8418,
 8424,
 8432,
 8576,
 8587,
 8610,
 8611,
 8616,
 8619,
 8621,
 8630,
 8631,
 8634,
 8640,
 8643,
 8647,
 8648,
 8650,
 8655,
 8661,
 8662,
 8663,
 8665,
 8705,
 8707,
 8709,
 8721,
 8723,
 8727,
 8743,
 8749,
 8750,
 8751,
 8764,
 8776,
 8778,
 8782,
 8788,
 8844,
 8846,
 8913,
 8926,
 8935,
 8943,
 8960,
 8989,
 8991,
 9008,
 9031,
 9033,
 9041,
 9043,
 9049,
 9078,
 9483,
 9485,
 9489,
 9492,
 9507,
 9511,
 9535,
 9565,
 9572,
 9589,
 9598,
 9615,
 9618,
 9632,
 9633,
 9635,
 9636,
 9641,
 9655,
 9661,
 9666,
 9673,
 9676,
 9687,
 9690,
 9693,
 9698,
 9705,
 9716,
 9722,
 9723,
 9728,
 9729,
 9741,
 9743,
 9757,
 9765,
 9768,
 9803,
 9804,
 9809,
 9813,
 9833,
 9868,
 9871,
 9902,
 9903,
 9907,
 9910,
 9926,
 9937,
 9940,
 9943,
 9950,
 9971,
 9981,
 9982,
 9987,
 10012,
 10048,
 10051,
 10063,
 10080,
 10086,
 10088,
 10089,
 10106,
 10111,
 10171,
 10331,
 10334,
 10337,
 10340,
 10343,
 10348,
 10358,
 10359,
 10370,
 10373,
 10387,
 10394,
 10413,
 10415,
 ...]

In [108]:
def convert_list_to_options_dict(valid_items):
    list_of_dicts =[]
    
    for item in valid_items:
        temp_dict = {'label': item, 'value': item}
        list_of_dicts.append(temp_dict)
    return list_of_dicts

In [ ]:
def get_valid_item_list(train_grouped_month, shopid):
    one_shop = train_grouped_month[train_grouped_month['shop_id'] == shopid]
    return one_shop.item_id.unique()

In [109]:
valid_dict_list = convert_list_to_options_dict(valid_items)

In [113]:
valid_dict_list_shops = convert_list_to_options_dict(valid_shops)

In [114]:
valid_dict_list_shops

[{'label': 0, 'value': 0},
 {'label': 1, 'value': 1},
 {'label': 2, 'value': 2},
 {'label': 3, 'value': 3},
 {'label': 4, 'value': 4},
 {'label': 6, 'value': 6},
 {'label': 7, 'value': 7},
 {'label': 8, 'value': 8},
 {'label': 10, 'value': 10},
 {'label': 12, 'value': 12},
 {'label': 13, 'value': 13},
 {'label': 14, 'value': 14},
 {'label': 15, 'value': 15},
 {'label': 16, 'value': 16},
 {'label': 18, 'value': 18},
 {'label': 19, 'value': 19},
 {'label': 21, 'value': 21},
 {'label': 22, 'value': 22},
 {'label': 23, 'value': 23},
 {'label': 24, 'value': 24},
 {'label': 25, 'value': 25},
 {'label': 26, 'value': 26},
 {'label': 27, 'value': 27},
 {'label': 28, 'value': 28},
 {'label': 29, 'value': 29},
 {'label': 30, 'value': 30},
 {'label': 31, 'value': 31},
 {'label': 32, 'value': 32},
 {'label': 35, 'value': 35},
 {'label': 37, 'value': 37},
 {'label': 38, 'value': 38},
 {'label': 41, 'value': 41},
 {'label': 42, 'value': 42},
 {'label': 43, 'value': 43},
 {'label': 44, 'value': 44},
 {'label': 45, 'value': 45},
 {'label': 46, 'value': 46},
 {'label': 47, 'value': 47},
 {'label': 50, 'value': 50},
 {'label': 51, 'value': 51},
 {'label': 52, 'value': 52},
 {'label': 53, 'value': 53},
 {'label': 54, 'value': 54},
 {'label': 56, 'value': 56},
 {'label': 59, 'value': 59},
 {'label': 5, 'value': 5},
 {'label': 57, 'value': 57},
 {'label': 58, 'value': 58},
 {'label': 55, 'value': 55},
 {'label': 17, 'value': 17},
 {'label': 9, 'value': 9},
 {'label': 49, 'value': 49},
 {'label': 39, 'value': 39},
 {'label': 40, 'value': 40},
 {'label': 48, 'value': 48},
 {'label': 34, 'value': 34},
 {'label': 33, 'value': 33},
 {'label': 20, 'value': 20},
 {'label': 11, 'value': 11},
 {'label': 36, 'value': 36}]

In [110]:
valid_dict_list

[{'label': 5572, 'value': 5572},
 {'label': 5573, 'value': 5573},
 {'label': 5575, 'value': 5575},
 {'label': 5576, 'value': 5576},
 {'label': 5609, 'value': 5609},
 {'label': 5612, 'value': 5612},
 {'label': 5623, 'value': 5623},
 {'label': 5627, 'value': 5627},
 {'label': 5629, 'value': 5629},
 {'label': 5630, 'value': 5630},
 {'label': 5632, 'value': 5632},
 {'label': 5635, 'value': 5635},
 {'label': 5641, 'value': 5641},
 {'label': 5643, 'value': 5643},
 {'label': 13510, 'value': 13510},
 {'label': 13517, 'value': 13517},
 {'label': 13071, 'value': 13071},
 {'label': 1956, 'value': 1956},
 {'label': 1958, 'value': 1958},
 {'label': 5680, 'value': 5680},
 {'label': 13101, 'value': 13101},
 {'label': 13102, 'value': 13102},
 {'label': 5578, 'value': 5578},
 {'label': 5580, 'value': 5580},
 {'label': 5581, 'value': 5581},
 {'label': 5583, 'value': 5583},
 {'label': 5587, 'value': 5587},
 {'label': 5588, 'value': 5588},
 {'label': 5591, 'value': 5591},
 {'label': 5592, 'value': 5592},
 {'label': 5594, 'value': 5594},
 {'label': 5601, 'value': 5601},
 {'label': 5605, 'value': 5605},
 {'label': 7882, 'value': 7882},
 {'label': 7890, 'value': 7890},
 {'label': 7892, 'value': 7892},
 {'label': 7893, 'value': 7893},
 {'label': 7894, 'value': 7894},
 {'label': 7895, 'value': 7895},
 {'label': 7907, 'value': 7907},
 {'label': 7954, 'value': 7954},
 {'label': 7956, 'value': 7956},
 {'label': 11305, 'value': 11305},
 {'label': 6672, 'value': 6672},
 {'label': 13435, 'value': 13435},
 {'label': 13478, 'value': 13478},
 {'label': 13480, 'value': 13480},
 {'label': 13482, 'value': 13482},
 {'label': 13484, 'value': 13484},
 {'label': 13487, 'value': 13487},
 {'label': 13490, 'value': 13490},
 {'label': 6668, 'value': 6668},
 {'label': 6665, 'value': 6665},
 {'label': 13425, 'value': 13425},
 {'label': 13430, 'value': 13430},
 {'label': 13431, 'value': 13431},
 {'label': 4861, 'value': 4861},
 {'label': 7905, 'value': 7905},
 {'label': 13393, 'value': 13393},
 {'label': 1409, 'value': 1409},
 {'label': 1471, 'value': 1471},
 {'label': 1595, 'value': 1595},
 {'label': 1790, 'value': 1790},
 {'label': 1836, 'value': 1836},
 {'label': 1870, 'value': 1870},
 {'label': 1985, 'value': 1985},
 {'label': 2253, 'value': 2253},
 {'label': 2281, 'value': 2281},
 {'label': 2303, 'value': 2303},
 {'label': 2307, 'value': 2307},
 {'label': 2437, 'value': 2437},
 {'label': 2649, 'value': 2649},
 {'label': 2680, 'value': 2680},
 {'label': 2682, 'value': 2682},
 {'label': 2704, 'value': 2704},
 {'label': 2715, 'value': 2715},
 {'label': 2748, 'value': 2748},
 {'label': 2760, 'value': 2760},
 {'label': 2835, 'value': 2835},
 {'label': 2846, 'value': 2846},
 {'label': 2973, 'value': 2973},
 {'label': 3045, 'value': 3045},
 {'label': 3056, 'value': 3056},
 {'label': 3076, 'value': 3076},
 {'label': 3187, 'value': 3187},
 {'label': 3253, 'value': 3253},
 {'label': 3316, 'value': 3316},
 {'label': 3320, 'value': 3320},
 {'label': 3321, 'value': 3321},
 {'label': 3366, 'value': 3366},
 {'label': 3428, 'value': 3428},
 {'label': 3433, 'value': 3433},
 {'label': 3541, 'value': 3541},
 {'label': 3686, 'value': 3686},
 {'label': 3705, 'value': 3705},
 {'label': 3850, 'value': 3850},
 {'label': 3851, 'value': 3851},
 {'label': 3852, 'value': 3852},
 {'label': 3869, 'value': 3869},
 {'label': 3877, 'value': 3877},
 {'label': 4227, 'value': 4227},
 {'label': 4229, 'value': 4229},
 {'label': 4266, 'value': 4266},
 {'label': 4281, 'value': 4281},
 {'label': 4372, 'value': 4372},
 {'label': 4464, 'value': 4464},
 {'label': 4474, 'value': 4474},
 {'label': 4476, 'value': 4476},
 {'label': 4482, 'value': 4482},
 {'label': 4486, 'value': 4486},
 {'label': 4532, 'value': 4532},
 {'label': 4792, 'value': 4792},
 {'label': 4807, 'value': 4807},
 {'label': 4810, 'value': 4810},
 {'label': 4814, 'value': 4814},
 {'label': 4815, 'value': 4815},
 {'label': 4886, 'value': 4886},
 {'label': 4887, 'value': 4887},
 {'label': 4906, 'value': 4906},
 {'label': 4960, 'value': 4960},
 {'label': 5033, 'value': 5033},
 {'label': 5256, 'value': 5256},
 {'label': 5261, 'value': 5261},
 {'label': 5273, 'value': 5273},
 {'label': 5283, 'value': 5283},
 {'label': 5918, 'value': 5918},
 {'label': 5992, 'value': 5992},
 {'label': 6072, 'value': 6072},
 {'label': 6077, 'value': 6077},
 {'label': 6122, 'value': 6122},
 {'label': 6143, 'value': 6143},
 {'label': 6154, 'value': 6154},
 {'label': 6326, 'value': 6326},
 {'label': 6402, 'value': 6402},
 {'label': 6452, 'value': 6452},
 {'label': 6612, 'value': 6612},
 {'label': 6659, 'value': 6659},
 {'label': 6681, 'value': 6681},
 {'label': 6700, 'value': 6700},
 {'label': 6725, 'value': 6725},
 {'label': 6727, 'value': 6727},
 {'label': 6745, 'value': 6745},
 {'label': 6778, 'value': 6778},
 {'label': 6910, 'value': 6910},
 {'label': 6916, 'value': 6916},
 {'label': 7078, 'value': 7078},
 {'label': 7169, 'value': 7169},
 {'label': 7218, 'value': 7218},
 {'label': 7221, 'value': 7221},
 {'label': 7734, 'value': 7734},
 {'label': 8041, 'value': 8041},
 {'label': 10579, 'value': 10579},
 {'label': 11389, 'value': 11389},
 {'label': 11391, 'value': 11391},
 {'label': 11393, 'value': 11393},
 {'label': 11829, 'value': 11829},
 {'label': 12113, 'value': 12113},
 {'label': 13413, 'value': 13413},
 {'label': 13450, 'value': 13450},
 {'label': 13511, 'value': 13511},
 {'label': 14939, 'value': 14939},
 {'label': 17696, 'value': 17696},
 {'label': 17707, 'value': 17707},
 {'label': 17710, 'value': 17710},
 {'label': 19362, 'value': 19362},
 {'label': 19516, 'value': 19516},
 {'label': 21771, 'value': 21771},
 {'label': 1523, 'value': 1523},
 {'label': 1782, 'value': 1782},
 {'label': 1889, 'value': 1889},
 {'label': 1894, 'value': 1894},
 {'label': 2727, 'value': 2727},
 {'label': 2920, 'value': 2920},
 {'label': 2934, 'value': 2934},
 {'label': 2939, 'value': 2939},
 {'label': 2953, 'value': 2953},
 {'label': 2956, 'value': 2956},
 {'label': 3327, 'value': 3327},
 {'label': 3693, 'value': 3693},
 {'label': 3698, 'value': 3698},
 {'label': 3702, 'value': 3702},
 {'label': 3743, 'value': 3743},
 {'label': 4036, 'value': 4036},
 {'label': 4475, 'value': 4475},
 {'label': 4485, 'value': 4485},
 {'label': 4910, 'value': 4910},
 {'label': 5197, 'value': 5197},
 {'label': 5198, 'value': 5198},
 {'label': 5735, 'value': 5735},
 {'label': 6144, 'value': 6144},
 {'label': 6660, 'value': 6660},
 {'label': 6661, 'value': 6661},
 {'label': 6704, 'value': 6704},
 {'label': 6708, 'value': 6708},
 {'label': 6724, 'value': 6724},
 {'label': 6911, 'value': 6911},
 {'label': 6919, 'value': 6919},
 {'label': 7137, 'value': 7137},
 {'label': 7867, 'value': 7867},
 {'label': 7875, 'value': 7875},
 {'label': 13453, 'value': 13453},
 {'label': 13460, 'value': 13460},
 {'label': 13735, 'value': 13735},
 {'label': 13736, 'value': 13736},
 {'label': 17706, 'value': 17706},
 {'label': 19929, 'value': 19929},
 {'label': 20948, 'value': 20948},
 {'label': 1463, 'value': 1463},
 {'label': 1481, 'value': 1481},
 {'label': 2304, 'value': 2304},
 {'label': 3065, 'value': 3065},
 {'label': 3326, 'value': 3326},
 {'label': 3747, 'value': 3747},
 {'label': 4330, 'value': 4330},
 {'label': 4371, 'value': 4371},
 {'label': 4376, 'value': 4376},
 {'label': 4481, 'value': 4481},
 {'label': 4832, 'value': 4832},
 {'label': 4901, 'value': 4901},
 {'label': 5275, 'value': 5275},
 {'label': 5292, 'value': 5292},
 {'label': 6095, 'value': 6095},
 {'label': 6142, 'value': 6142},
 {'label': 6451, 'value': 6451},
 {'label': 6651, 'value': 6651},
 {'label': 6722, 'value': 6722},
 {'label': 6752, 'value': 6752},
 {'label': 7220, 'value': 7220},
 {'label': 11388, 'value': 11388},
 {'label': 11828, 'value': 11828},
 {'label': 20149, 'value': 20149},
 {'label': 1410, 'value': 1410},
 {'label': 1472, 'value': 1472},
 {'label': 1520, 'value': 1520},
 {'label': 1592, 'value': 1592},
 {'label': 1791, 'value': 1791},
 {'label': 1833, 'value': 1833},
 {'label': 1837, 'value': 1837},
 {'label': 2302, 'value': 2302},
 {'label': 2309, 'value': 2309},
 {'label': 2350, 'value': 2350},
 {'label': 2441, 'value': 2441},
 {'label': 2650, 'value': 2650},
 {'label': 2678, 'value': 2678},
 {'label': 2705, 'value': 2705},
 {'label': 2761, 'value': 2761},
 {'label': 2836, 'value': 2836},
 {'label': 2847, 'value': 2847},
 {'label': 2974, 'value': 2974},
 {'label': 3077, 'value': 3077},
 {'label': 3318, 'value': 3318},
 {'label': 3323, 'value': 3323},
 {'label': 3328, 'value': 3328},
 {'label': 3367, 'value': 3367},
 {'label': 3394, 'value': 3394},
 {'label': 3429, 'value': 3429},
 {'label': 3476, 'value': 3476},
 {'label': 3542, 'value': 3542},
 {'label': 3554, 'value': 3554},
 {'label': 3676, 'value': 3676},
 {'label': 3834, 'value': 3834},
 {'label': 3836, 'value': 3836},
 {'label': 3871, 'value': 3871},
 {'label': 3878, 'value': 3878},
 {'label': 4240, 'value': 4240},
 {'label': 4241, 'value': 4241},
 {'label': 4244, 'value': 4244},
 {'label': 4248, 'value': 4248},
 {'label': 4249, 'value': 4249},
 {'label': 4267, 'value': 4267},
 {'label': 4373, 'value': 4373},
 {'label': 4724, 'value': 4724},
 {'label': 4781, 'value': 4781},
 {'label': 4793, 'value': 4793},
 {'label': 4811, 'value': 4811},
 {'label': 4885, 'value': 4885},
 {'label': 4907, 'value': 4907},
 {'label': 5030, 'value': 5030},
 {'label': 5032, 'value': 5032},
 {'label': 5034, 'value': 5034},
 {'label': 5262, 'value': 5262},
 {'label': 5274, 'value': 5274},
 {'label': 5363, 'value': 5363},
 {'label': 6123, 'value': 6123},
 {'label': 6125, 'value': 6125},
 {'label': 6425, 'value': 6425},
 {'label': 6613, 'value': 6613},
 {'label': 6779, 'value': 6779},
 {'label': 6909, 'value': 6909},
 {'label': 6917, 'value': 6917},
 {'label': 7171, 'value': 7171},
 {'label': 7913, 'value': 7913},
 {'label': 10563, 'value': 10563},
 {'label': 17697, 'value': 17697},
 {'label': 19992, 'value': 19992},
 {'label': 6574, 'value': 6574},
 {'label': 6576, 'value': 6576},
 {'label': 6578, 'value': 6578},
 {'label': 6579, 'value': 6579},
 {'label': 6581, 'value': 6581},
 {'label': 6586, 'value': 6586},
 {'label': 6590, 'value': 6590},
 {'label': 6592, 'value': 6592},
 {'label': 6593, 'value': 6593},
 {'label': 6597, 'value': 6597},
 {'label': 6598, 'value': 6598},
 {'label': 6600, 'value': 6600},
 {'label': 6604, 'value': 6604},
 {'label': 6605, 'value': 6605},
 {'label': 6606, 'value': 6606},
 {'label': 6607, 'value': 6607},
 {'label': 6608, 'value': 6608},
 {'label': 6609, 'value': 6609},
 {'label': 1475, 'value': 1475},
 {'label': 1829, 'value': 1829},
 {'label': 1835, 'value': 1835},
 {'label': 1992, 'value': 1992},
 {'label': 2258, 'value': 2258},
 {'label': 2319, 'value': 2319},
 {'label': 2321, 'value': 2321},
 {'label': 2718, 'value': 2718},
 {'label': 2844, 'value': 2844},
 {'label': 3427, 'value': 3427},
 {'label': 3876, 'value': 3876},
 {'label': 4252, 'value': 4252},
 {'label': 6467, 'value': 6467},
 {'label': 6475, 'value': 6475},
 {'label': 6478, 'value': 6478},
 {'label': 6480, 'value': 6480},
 {'label': 6481, 'value': 6481},
 {'label': 6482, 'value': 6482},
 {'label': 6483, 'value': 6483},
 {'label': 6484, 'value': 6484},
 {'label': 6485, 'value': 6485},
 {'label': 6488, 'value': 6488},
 {'label': 6490, 'value': 6490},
 {'label': 6491, 'value': 6491},
 {'label': 6492, 'value': 6492},
 {'label': 6493, 'value': 6493},
 {'label': 6495, 'value': 6495},
 {'label': 6953, 'value': 6953},
 {'label': 7065, 'value': 7065},
 {'label': 7066, 'value': 7066},
 {'label': 7738, 'value': 7738},
 {'label': 7856, 'value': 7856},
 {'label': 7860, 'value': 7860},
 {'label': 13417, 'value': 13417},
 {'label': 13418, 'value': 13418},
 {'label': 13419, 'value': 13419},
 {'label': 14159, 'value': 14159},
 {'label': 15061, 'value': 15061},
 {'label': 17721, 'value': 17721},
 {'label': 1524, 'value': 1524},
 {'label': 3437, 'value': 3437},
 {'label': 3873, 'value': 3873},
 {'label': 6611, 'value': 6611},
 {'label': 7770, 'value': 7770},
 {'label': 7859, 'value': 7859},
 {'label': 963, 'value': 963},
 {'label': 1243, 'value': 1243},
 {'label': 1418, 'value': 1418},
 {'label': 1420, 'value': 1420},
 {'label': 1423, 'value': 1423},
 {'label': 1438, 'value': 1438},
 {'label': 1470, 'value': 1470},
 {'label': 1482, 'value': 1482},
 {'label': 1528, 'value': 1528},
 {'label': 1800, 'value': 1800},
 {'label': 1830, 'value': 1830},
 {'label': 1871, 'value': 1871},
 {'label': 1903, 'value': 1903},
 {'label': 1905, 'value': 1905},
 {'label': 1909, 'value': 1909},
 {'label': 1911, 'value': 1911},
 {'label': 1912, 'value': 1912},
 {'label': 1913, 'value': 1913},
 {'label': 1916, 'value': 1916},
 {'label': 1917, 'value': 1917},
 {'label': 1918, 'value': 1918},
 {'label': 1920, 'value': 1920},
 {'label': 1921, 'value': 1921},
 {'label': 1987, 'value': 1987},
 {'label': 2252, 'value': 2252},
 {'label': 2308, 'value': 2308},
 {'label': 2415, 'value': 2415},
 {'label': 2416, 'value': 2416},
 {'label': 2439, 'value': 2439},
 {'label': 2703, 'value': 2703},
 {'label': 2731, 'value': 2731},
 {'label': 2746, 'value': 2746},
 {'label': 2808, 'value': 2808},
 {'label': 2822, 'value': 2822},
 {'label': 2827, 'value': 2827},
 {'label': 2833, 'value': 2833},
 {'label': 2848, 'value': 2848},
 {'label': 2854, 'value': 2854},
 {'label': 2929, 'value': 2929},
 {'label': 2931, 'value': 2931},
 {'label': 2972, 'value': 2972},
 {'label': 3062, 'value': 3062},
 {'label': 3186, 'value': 3186},
 {'label': 3193, 'value': 3193},
 {'label': 3198, 'value': 3198},
 {'label': 3200, 'value': 3200},
 {'label': 3201, 'value': 3201},
 {'label': 3202, 'value': 3202},
 {'label': 3204, 'value': 3204},
 {'label': 3205, 'value': 3205},
 {'label': 3206, 'value': 3206},
 {'label': 3210, 'value': 3210},
 {'label': 3214, 'value': 3214},
 {'label': 3223, 'value': 3223},
 {'label': 3322, 'value': 3322},
 {'label': 3325, 'value': 3325},
 {'label': 3360, 'value': 3360},
 {'label': 3391, 'value': 3391},
 {'label': 3402, 'value': 3402},
 {'label': 3417, 'value': 3417},
 {'label': 3432, 'value': 3432},
 {'label': 3467, 'value': 3467},
 {'label': 3468, 'value': 3468},
 {'label': 3470, 'value': 3470},
 {'label': 3533, 'value': 3533},
 {'label': 3540, 'value': 3540},
 {'label': 3562, 'value': 3562},
 {'label': 3679, 'value': 3679},
 {'label': 3718, 'value': 3718},
 {'label': 3719, 'value': 3719},
 {'label': 3748, 'value': 3748},
 {'label': 3870, 'value': 3870},
 {'label': 3890, 'value': 3890},
 {'label': 3941, 'value': 3941},
 {'label': 3947, 'value': 3947},
 {'label': 4251, 'value': 4251},
 {'label': 4332, 'value': 4332},
 {'label': 4366, 'value': 4366},
 {'label': 4370, 'value': 4370},
 {'label': 4462, 'value': 4462},
 {'label': 4723, 'value': 4723},
 {'label': 4779, 'value': 4779},
 {'label': 4790, 'value': 4790},
 {'label': 4800, 'value': 4800},
 {'label': 4809, 'value': 4809},
 {'label': 5224, 'value': 5224},
 {'label': 5228, 'value': 5228},
 {'label': 5260, 'value': 5260},
 {'label': 5272, 'value': 5272},
 {'label': 5361, 'value': 5361},
 {'label': 5406, 'value': 5406},
 {'label': 5811, 'value': 5811},
 {'label': 5848, 'value': 5848},
 {'label': 5851, 'value': 5851},
 {'label': 5892, 'value': 5892},
 {'label': 5916, 'value': 5916},
 {'label': 5922, 'value': 5922},
 {'label': 5994, 'value': 5994},
 {'label': 6131, 'value': 6131},
 {'label': 6185, 'value': 6185},
 {'label': 6397, 'value': 6397},
 {'label': 6406, 'value': 6406},
 {'label': 6412, 'value': 6412},
 {'label': 6466, 'value': 6466},
 {'label': 6468, 'value': 6468},
 {'label': 6479, 'value': 6479},
 {'label': 6508, 'value': 6508},
 {'label': 6635, 'value': 6635},
 {'label': 6657, 'value': 6657},
 {'label': 6717, 'value': 6717},
 {'label': 6735, 'value': 6735},
 {'label': 6736, 'value': 6736},
 {'label': 6740, 'value': 6740},
 {'label': 6765, 'value': 6765},
 {'label': 6777, 'value': 6777},
 {'label': 6904, 'value': 6904},
 {'label': 7064, 'value': 7064},
 {'label': 7081, 'value': 7081},
 {'label': 7118, 'value': 7118},
 {'label': 7175, 'value': 7175},
 {'label': 7737, 'value': 7737},
 {'label': 7825, 'value': 7825},
 {'label': 7831, 'value': 7831},
 {'label': 7850, 'value': 7850},
 {'label': 7854, 'value': 7854},
 {'label': 7857, 'value': 7857},
 {'label': 7869, 'value': 7869},
 {'label': 7912, 'value': 7912},
 {'label': 8004, 'value': 8004},
 {'label': 9181, 'value': 9181},
 {'label': 9182, 'value': 9182},
 {'label': 9183, 'value': 9183},
 {'label': 9184, 'value': 9184},
 {'label': 10193, 'value': 10193},
 {'label': 10242, 'value': 10242},
 {'label': 10269, 'value': 10269},
 {'label': 10270, 'value': 10270},
 {'label': 10575, 'value': 10575},
 {'label': 11304, 'value': 11304},
 {'label': 11821, 'value': 11821},
 {'label': 11831, 'value': 11831},
 {'label': 12111, 'value': 12111},
 {'label': 12112, 'value': 12112},
 {'label': 12134, 'value': 12134},
 {'label': 12135, 'value': 12135},
 {'label': 12141, 'value': 12141},
 {'label': 13141, 'value': 13141},
 {'label': 13145, 'value': 13145},
 {'label': 13146, 'value': 13146},
 {'label': 13148, 'value': 13148},
 {'label': 13154, 'value': 13154},
 {'label': 13155, 'value': 13155},
 {'label': 13157, 'value': 13157},
 {'label': 13158, 'value': 13158},
 {'label': 13537, 'value': 13537},
 {'label': 13569, 'value': 13569},
 {'label': 13733, 'value': 13733},
 {'label': 14158, 'value': 14158},
 {'label': 14196, 'value': 14196},
 {'label': 14206, 'value': 14206},
 {'label': 14230, 'value': 14230},
 {'label': 14231, 'value': 14231},
 {'label': 15005, 'value': 15005},
 {'label': 15008, 'value': 15008},
 {'label': 15010, 'value': 15010},
 {'label': 15012, 'value': 15012},
 {'label': 15013, 'value': 15013},
 {'label': 15014, 'value': 15014},
 {'label': 15016, 'value': 15016},
 {'label': 15024, 'value': 15024},
 {'label': 15039, 'value': 15039},
 {'label': 15060, 'value': 15060},
 {'label': 15070, 'value': 15070},
 {'label': 16333, 'value': 16333},
 {'label': 16381, 'value': 16381},
 {'label': 16385, 'value': 16385},
 {'label': 16390, 'value': 16390},
 {'label': 17588, 'value': 17588},
 {'label': 19275, 'value': 19275},
 {'label': 19365, 'value': 19365},
 {'label': 19390, 'value': 19390},
 {'label': 19413, 'value': 19413},
 {'label': 19942, 'value': 19942},
 {'label': 19990, 'value': 19990},
 {'label': 19993, 'value': 19993},
 {'label': 20325, 'value': 20325},
 {'label': 20329, 'value': 20329},
 {'label': 20946, 'value': 20946},
 {'label': 21490, 'value': 21490},
 {'label': 21491, 'value': 21491},
 {'label': 21494, 'value': 21494},
 {'label': 21495, 'value': 21495},
 {'label': 21497, 'value': 21497},
 {'label': 21498, 'value': 21498},
 {'label': 21768, 'value': 21768},
 {'label': 21780, 'value': 21780},
 {'label': 21782, 'value': 21782},
 {'label': 21987, 'value': 21987},
 {'label': 21996, 'value': 21996},
 {'label': 7977, 'value': 7977},
 {'label': 7979, 'value': 7979},
 {'label': 5820, 'value': 5820},
 {'label': 5821, 'value': 5821},
 {'label': 5822, 'value': 5822},
 {'label': 5823, 'value': 5823},
 {'label': 33, 'value': 33},
 {'label': 944, 'value': 944},
 {'label': 952, 'value': 952},
 {'label': 965, 'value': 965},
 {'label': 1112, 'value': 1112},
 {'label': 8070, 'value': 8070},
 {'label': 8094, 'value': 8094},
 {'label': 8104, 'value': 8104},
 {'label': 8107, 'value': 8107},
 {'label': 8232, 'value': 8232},
 {'label': 8266, 'value': 8266},
 {'label': 8330, 'value': 8330},
 {'label': 8377, 'value': 8377},
 {'label': 8419, 'value': 8419},
 {'label': 8575, 'value': 8575},
 {'label': 8714, 'value': 8714},
 {'label': 8765, 'value': 8765},
 {'label': 8777, 'value': 8777},
 {'label': 8845, 'value': 8845},
 {'label': 8849, 'value': 8849},
 {'label': 8894, 'value': 8894},
 {'label': 8958, 'value': 8958},
 {'label': 8963, 'value': 8963},
 {'label': 8992, 'value': 8992},
 {'label': 8994, 'value': 8994},
 {'label': 9007, 'value': 9007},
 {'label': 9044, 'value': 9044},
 {'label': 9696, 'value': 9696},
 {'label': 9704, 'value': 9704},
 {'label': 9801, 'value': 9801},
 {'label': 9834, 'value': 9834},
 {'label': 9844, 'value': 9844},
 {'label': 9909, 'value': 9909},
 {'label': 9912, 'value': 9912},
 {'label': 9914, 'value': 9914},
 {'label': 9936, 'value': 9936},