In [4]:
#impoting libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from google.colab import drive

In [5]:
#Importing csv files
drive.mount('/content/gdrive')
fp = '/content/gdrive/My Drive/Sales Data'
train     = pd.read_csv("/content/gdrive/My Drive/Sales Data/sales_train.csv")
test      = pd.read_csv('/content/gdrive/My Drive/Sales Data/test.csv')
items     = pd.read_csv('/content/gdrive/My Drive/Sales Data/items.csv')
item_cats = pd.read_csv('/content/gdrive/My Drive/Sales Data/item_categories.csv')
shops     = pd.read_csv('/content/gdrive/My Drive/Sales Data/shops.csv')

Mounted at /content/gdrive

In [6]:
#Down casts the data entries from int64 to int32 and float64 to float32
#This reduces the size of the records by almost half. (From 134mb to 61mb)
def downcast_dtypes(df):
    float_cols = [c for c in df if df[c].dtype == "float64"]
    int_cols = [c for c in df if df[c].dtype in ["int64", "int32"]]
    df[float_cols] = df[float_cols].astype(np.float32)
    df[int_cols] = df[int_cols].astype(np.int16)
    return df

In [7]:
#Calls the downcasting function
train = downcast_dtypes(train)

In [8]:
# Manual Feature engineering
# grouped for visual representation

# group data by month and shop_id, return sum of items sold per shop per month
month_group = pd.DataFrame(train.groupby(['date_block_num', 'shop_id'])['item_cnt_day'].sum().reset_index())

# added the item_category into sales_train
merged = pd.merge(train, items[['item_id', 'item_category_id']], on = 'item_id')

# group data by month and category_id, return sum of items sold per category per month
category_group = pd.DataFrame(merged.groupby(['date_block_num', 'item_category_id'])['item_cnt_day'].sum().reset_index())

In [9]:
print(f'{month_group.head(5)}\n{merged.head(5)}\n{category_group.head(5)}')

   date_block_num  shop_id  item_cnt_day
0               0        0        5578.0
1               0        1        2947.0
2               0        2        1146.0
3               0        3         767.0
4               0        4        2114.0
         date  date_block_num  ...  item_cnt_day  item_category_id
0  02.01.2013               0  ...           1.0                37
1  23.01.2013               0  ...           1.0                37
2  20.01.2013               0  ...           1.0                37
3  02.01.2013               0  ...           1.0                37
4  03.01.2013               0  ...           1.0                37

[5 rows x 7 columns]
   date_block_num  item_category_id  item_cnt_day
0               0                 0           1.0
1               0                 1           1.0
2               0                 2        1390.0
3               0                 3         440.0
4               0                 4         251.0

In [10]:
# grouping for training model

# added the item_category into sales_train
merged2 = pd.merge(train, items[['item_id', 'item_category_id']], on = 'item_id')

# group data by month and shop_id, return sum of items sold per shop per month
# grouped by price as specials could result in higher sales
month_group2 = pd.DataFrame(merged2.groupby(['date_block_num', 'shop_id', 'item_category_id', 'item_id', 'item_price'])['item_cnt_day'].sum().reset_index())

In [ ]:
month_group2.head(50)

,date_block_num,shop_id,item_category_id,item_id,item_price,item_cnt_day
0,0,0,2,5572,1322.0,10.0
1,0,0,2,5573,560.0,1.0
2,0,0,2,5575,806.0,4.0
3,0,0,2,5576,2231.0,5.0
4,0,0,2,5609,2381.0,1.0
5,0,0,2,5612,3623.0,1.0
6,0,0,2,5623,294.0,1.0
7,0,0,2,5627,2060.0,2.0
8,0,0,2,5629,1925.0,9.0
9,0,0,2,5630,2060.0,1.0
10,0,0,2,5632,2060.0,3.0
11,0,0,2,5635,2060.0,2.0
12,0,0,2,5641,2100.0,1.0
13,0,0,2,5643,2060.0,6.0
14,0,0,2,13510,2747.0,2.0
15,0,0,2,13517,2791.0,4.0
16,0,0,3,13071,242.0,28.0
17,0,0,4,1956,131.0,4.0
18,0,0,4,1958,44.0,1.0
19,0,0,4,5680,263.0,1.0
20,0,0,4,13101,1806.0,1.0
21,0,0,4,13102,966.0,9.0
22,0,0,5,5578,823.0,5.0
23,0,0,5,5580,274.0,2.0
24,0,0,5,5581,407.0,3.0
25,0,0,5,5583,367.0,2.0
26,0,0,5,5587,126.0,5.0
27,0,0,5,5588,102.0,1.0
28,0,0,5,5591,1556.0,4.0
29,0,0,5,5592,2864.0,2.0
30,0,0,5,5594,1150.0,2.0
31,0,0,5,5601,412.0,1.0
32,0,0,5,5605,485.0,1.0
33,0,0,6,7882,1028.0,5.0
34,0,0,6,7890,3863.0,1.0
35,0,0,6,7892,2834.0,3.0
36,0,0,6,7893,1473.0,12.0
37,0,0,6,7894,1236.0,12.0
38,0,0,6,7895,639.0,10.0
39,0,0,6,7907,1751.0,2.0
40,0,0,6,7954,1859.0,4.0
41,0,0,6,7956,6254.0,7.0
42,0,0,6,11305,263.0,9.0
43,0,0,11,6672,9876.0,2.0
44,0,0,11,13435,11870.0,2.0
45,0,0,11,13435,12138.0,2.0
46,0,0,11,13478,13355.0,5.0
47,0,0,11,13480,13539.0,3.0
48,0,0,11,13482,13679.0,1.0
49,0,0,11,13484,13355.0,2.0

In [11]:
# nominal intergers can not be converted to binary encoding, convert to string
month_group2['date_block_num'] = [('month ' + str(i)) for i in month_group2['date_block_num']]
month_group2['shop_id'] = [('shop ' + str(i)) for i in month_group2['shop_id']]
month_group2['item_category_id'] = [('item_category ' + str(i)) for i in month_group2['item_category_id']]
month_group2['item_id'] = [('item ' + str(i)) for i in month_group2['item_id']]

In [ ]:
month_group2.head(10)

  date_block_num shop_id item_category_id    item_id  item_price  item_cnt_day
0        month 0  shop 0  item_category 2  item 5572      1322.0          10.0
1        month 0  shop 0  item_category 2  item 5573       560.0           1.0
2        month 0  shop 0  item_category 2  item 5575       806.0           4.0
3        month 0  shop 0  item_category 2  item 5576      2231.0           5.0
4        month 0  shop 0  item_category 2  item 5609      2381.0           1.0
5        month 0  shop 0  item_category 2  item 5612      3623.0           1.0
6        month 0  shop 0  item_category 2  item 5623       294.0           1.0
7        month 0  shop 0  item_category 2  item 5627      2060.0           2.0
8        month 0  shop 0  item_category 2  item 5629      1925.0           9.0
9        month 0  shop 0  item_category 2  item 5630      2060.0           1.0

In [13]:
# break into X and Y, where X is the inputs and Y is our output
X = month_group2.iloc[:, :-1].values
Y = month_group2.iloc[:,-1].values

In [14]:
# Encoding categorical data
# used to provide a value to data that can be then used in equations, eg. Friday = 1 etc.
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

# the only variable which is not categorical is item_price, hence all other variable will be converted
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0, 1, 2, 3])], remainder = 'passthrough')
#X = np.array(ct.fit_transform(X), dtype=object)
X = ct.fit_transform(X)
# convert back to 2-D representation of the matrix from sparse matrix representation 
#X = X.todense()

# ***Need to find a way to remove dummy variable to avoid dummy var trap***

In [34]:
# split data set into training set and testing set
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

X_scaled = scale(X, with_mean=False)
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y,test_size = 0.2, random_state = 0)

In [35]:
# fitting multiple linear regression to the training set
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV


param_grid = {'alpha': [0.1, 0.3, 0.5, 0.7, 0.9]}

#regressor = LinearRegression()
ridge = Ridge(alpha=0.1, normalize=True)
ridge_cv = GridSearchCV(ridge, param_grid, cv=5)
ridge_cv.fit(X_train, Y_train)

# Print the tuned parameters and score
print("Tuned Ridge Parameters: {}".format(ridge_cv.best_params_)) 
print("Best score is {}".format(ridge_cv.best_score_))

#cv_results = cross_val_predict(regressor, X, Y, cv=5)
#print(cv_results)
#regressor.fit(X_train, Y_train)
#ridge.fit(X_train, Y_train)
#y_predict = regressor.predict(X_test)
#ridge_predict = lasso.predict(X_test)
#regressor.score(X_test, Y_test)
#ridge.score(X_test, Y_test)
# Things to do!!!
#****Will need to predict on the testing data to compare results

Tuned Ridge Parameters: {'alpha': 0.3}
Best score is 0.2515999294742804

In [23]:
#z = ['month 0', 'shop 0', 'item_category 2', 'item 5572', 1322]

# A simple program to see how the predictor would work

from scipy import stats
def auto_predictor():
    global ct
    month = input('Please enter the month you want to predict. Enter the digit of the month, eg. Jan = 0 : ')
    shop = input('Please enter the shop ID, eg. 2 : ')
    item = input("Please enter the item ID you wish to predict, eg. for item 55, enter '55' : ")
    item_cat = (items.loc[items['item_id'] == int(item), ['item_category_id']].values)[0][0]
    prices = train.loc[train['item_id'] == int(item), ['item_price']].values
    price = (stats.mode(prices))[0][0][0]
    
    z = ['month ' + str(month), 'shop ' + str(shop), 'item_category ' + str(item_cat), 'item ' + str(item), price]
    z = np.array(z, dtype = object).reshape(1, -1)
    z = ct.transform(z)
    z_pred = regressor.predict(z)
   
    
    return(z_pred[0])

# Things to check!!!
# ***There are multiple prices available for the item in that specific shop, provide an option to choose price

In [24]:
auto_predictor()

Please enter the month you want to predict. Enter the digit of the month, eg. Jan = 0 : 0
Please enter the shop ID, eg. 2 : 0
Please enter the item ID you wish to predict, eg. for item 55, enter '55' : 5629

NameError: ignored